@import url(../../../plugins/jquery/themes/ui.datepicker.css);

.notice_text {
	text-align:center;
	color: green;
	margin:10px;
}

#edit_form_table {
	/*width: 100%;*/
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

#edit_form_table td,
#edit_form_table th {
	padding: 5px;
	border-right: 1px solid #CCCCCC;
	vertical-align: middle;
}

#edit_form_table th {
	text-align: center;
	font-weight: bold;
}

#edit_form_table th.label {
	text-align: right;
	width: 200px;
	white-space: nowrap;
}

#edit_form_table th.block {
	background-color: #DDDDDD;
	font-size: 13px;
}

#edit_form_table tr.headers {
	background-color: #999999;
}

#edit_form_table th.header {
	color: #FFFFFF;
	font-size: 14px;
}

#edit_form_table th.bottom_controls {
	border-top: 1px solid #cccccc;
}

.form_mandatory {
	color: red;
}

.form_info_icon,
.form_warn_icon {
	cursor: help;
	vertical-align: middle;
}

#FloatDesc {
	border: 1px solid black;
	padding: 3px;
	background-color: #F2FCF9;
	width: 300px;
}

/* * * * Inputs * * * */

.input_text,
.input_date,
.input_area,
.input_pass,
.input_select,
.input_select_couple,
.input_select_multi
{
	background-image: url( ../images/body_backgr.gif );
	border: 1px solid #999999;
	width: 200px;
	margin-right: 5px;
}

.input_num {
	background-image: url( ../images/body_backgr.gif );
	border: 1px solid #999999;
	width: 40px;
	margin-right: 5px;
}

.input_range_0,
.input_range_1 {
	background-image: url( ../images/body_backgr.gif );
	border: 1px solid #999999;
	width: 40px;
}

.input_range_1 {
	margin-right: 5px;
}

.input_erroneus {
	border: 1px solid red;
}

.input_area,
.input_select_multi {
	height: 90px;
}

.form_error_cont {
	border: 1px solid red;
	padding: 3px;
	color: red;
	width: 220px;
}

label.input_radio_label {
	margin-right: 4px;
}


#MembershipDays {
	width: 55px;
}