<items><item type="boolean" key="autoApprove" default="false" range=""><caption><![CDATA[Autoapprove]]></caption><comment><![CDATA[Enable autoapprove feature. You will not need to approve recorded video manualy.]]></comment></item><item type="number" key="maxRecords" default="10" range="1:99"><caption><![CDATA[Maximum number of records]]></caption><comment><![CDATA[Maximum number of records for single user.]]></comment></item><item type="number" key="recordTime" default="45" range="0:600"><caption><![CDATA[Record Time]]></caption><comment><![CDATA[Maximum length of recorded video(in seconds).]]></comment></item><item type="select" key="quality" default="75" range="25:100 25"><caption><![CDATA[Video quality(%)]]></caption><comment><![CDATA[Quality of recorded video.]]></comment></item></items>