<items><item type="number" key="fileSize" default="20" range="0"><caption><![CDATA[File size]]></caption><comment><![CDATA[Maximum available size of file for uploading (in Megabytes).]]></comment></item><item type="boolean" key="save" default="false" range=""><caption><![CDATA[Enable files saving]]></caption></item><item type="boolean" key="autoPlay" default="true" range=""><caption><![CDATA[Autoplay]]></caption><comment><![CDATA[Enable autoplay of video file.]]></comment></item><item type="boolean" key="autoApprove" default="true" range=""><caption><![CDATA[Files auto approving]]></caption></item><item type="boolean" key="sameQuality" default="true" range=""><caption><![CDATA[Save video quality while converting]]></caption></item></items>