<items><item key="filesUrl"><![CDATA[#filesUrl#]]></item><item key="fileSize"><![CDATA[20]]></item><item key="fileMaxSize"><![CDATA[#fileMaxSize#]]></item><item key="autoPlay"><![CDATA[true]]></item><item key="save"><![CDATA[false]]></item><item key="autoApprove"><![CDATA[true]]></item><item key="sameQuality"><![CDATA[true]]></item></items>