<items><item key="editor_width"><![CDATA[440]]></item><item key="editor_height"><![CDATA[640]]></item><item key="player_height"><![CDATA[435]]></item><item key="filesCount"><![CDATA[10]]></item><item key="filesUrl"><![CDATA[#filesUrl#]]></item><item key="fileSize"><![CDATA[20]]></item><item key="fileMaxSize"><![CDATA[#fileMaxSize#]]></item><item key="autoPlay"><![CDATA[true]]></item><item key="save"><![CDATA[false]]></item><item key="autoApprove"><![CDATA[true]]></item><item key="sameQuality"><![CDATA[true]]></item></items>