<items><item type="boolean" key="useRMS" default="false" range=""><caption><![CDATA[Use RMS]]></caption><comment><![CDATA[Use Ray MultiMedia Server or not]]></comment></item><item type="string" key="RMSIP" default="rms.boonex.com" range="15"><caption><![CDATA[RMS Address]]></caption><comment><![CDATA[Ray MultiMedia Server IP address or Domain name]]></comment></item><item type="number" key="RMSPort" default="1935" range="1:65535"><caption><![CDATA[RMS Port]]></caption><comment><![CDATA[Ray MultiMedia Server port]]></comment></item><item type="number" key="RMSHttpPort" default="5080" range="1:65535"><caption><![CDATA[RMS HTTP Port]]></caption><comment><![CDATA[Ray MultiMedia Server HTTP port]]></comment></item></items>