<items><item type="boolean" key="guest" default="true" range=""><caption><![CDATA[Allow guests to post messages]]></caption></item><item type="number" key="messagesCount" default="10" range="5:25"><caption><![CDATA[Displayed messages number]]></caption></item><item type="select" key="updateInterval" default="60" range="20:120 20"><caption><![CDATA[Update interval(sec)]]></caption><comment><![CDATA[Chat update interval (Lite version only).]]></comment></item></items>