<items><item key="updateInterval"><![CDATA[5]]></item><item key="idleTime"><![CDATA[15]]></item><item key="deleteTime"><![CDATA[30]]></item><item key="videoQuality"><![CDATA[75]]></item><item key="filesUrl"><![CDATA[#filesUrl#]]></item><item key="fileSize"><![CDATA[20]]></item><item key="fileMaxSize"><![CDATA[#fileMaxSize#]]></item><item key="useSounds"><![CDATA[true]]></item><item key="soundsUrl"><![CDATA[#soundsUrl#]]></item><item key="smilesetsUrl"><![CDATA[#smilesetsUrl#]]></item><item key="useServer"><![CDATA[#useServer#]]></item><item key="serverUrl"><![CDATA[#serverUrl#]]></item></items>