<items><item key="autoApprove"><![CDATA[false]]></item><item key="maxRecords"><![CDATA[10]]></item><item key="recordTime"><![CDATA[45]]></item><item key="quality"><![CDATA[75]]></item><item key="serverUrl"><![CDATA[#serverUrl#]]></item><item key="serverHttpUrl"><![CDATA[#serverHttpUrl#]]></item></items>