<items><item key="filesUrl"><![CDATA[#filesUrl#]]></item><item key="fileSize"><![CDATA[10]]></item><item key="fileMaxSize"><![CDATA[#fileMaxSize#]]></item><item key="adminPlayList"><![CDATA[true]]></item><item key="reporting"><![CDATA[true]]></item><item key="autoPlay"><![CDATA[true]]></item><item key="save"><![CDATA[false]]></item><item key="autoApprove"><![CDATA[false]]></item><item key="convertBitrate"><![CDATA[192]]></item></items>