<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <bean
        class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
        
    <bean id="entityManagerFactory"
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="jpaVendorAdapter">
            <bean
                class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="database" value="MYSQL" />
                <property name="showSql" value="true" />
            </bean>
        </property>
    </bean>
 
    <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost/quickstart" />
        <property name="username" value="root" />
        <property name="password" value="" />
    </bean>

    <bean id="transactionManager"
        class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" />

    <bean id="registrationWaitingService" class="quickstart.service.RegistrationWaitingServiceImpl" />
    
    <bean id="registrationWaitingAction" scope="prototype"
        class="quickstart.action.RegistrationWaitingAction">
        <constructor-arg ref="registrationWaitingService" />
    </bean>  

    <bean id="initAction" scope="prototype"
        class="quickstart.action.InitAction">
    </bean>  

    <bean id="dbCleanUp" class="quickstart.service.RegistrationWaitingServiceImpl"/>

	<bean id="jobInvokation" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	  <property name="targetObject" ref="dbCleanUp"/>
	  <property name="targetMethod" value="cleanUp"/>
	</bean>

<!-- 	
	<bean id="dbCleanUpTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="jobInvokation"/>
		<property name="repeatInterval" value="10000"/>
	</bean>
-->
	
	<bean id="dbCleanUpTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
	  <property name="jobDetail" ref="jobInvokation"/>
		<!-- run every morning at 6 AM -->
	  <property name="cronExpression" value="0 0 6 * * ?"/>
	</bean>	

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
	  <property name="triggers">
	    <list>
	      <ref bean="dbCleanUpTrigger"/>
	    </list>
	  </property>
	</bean>
 
</beans>

