<script src="__site_a_url__inc/js/jquery_ajax.js" type="text/javascript" language="javascript"></script>

<form action="__action_url__" method="post" onsubmit="__form_onsubmit__" name="ajax_login" id="ajax_login">
	<table class="popup_form_wrapper">
		<tr>
			<td class="corner"><img src="__images__op_cor_tl.png" /></td>
			<td class="side_ver"><img src="__images__spacer.gif" /></td>
			<td class="corner">
				<img src="__images__op_cor_tr.png" onclick="$('#login_div').hide();return false;" style="cursor: pointer;" />
			</td>
		</tr>
		<tr>
			<td class="side"><img src="__images__spacer.gif" /></td>
			<td class="container">
				<input type="hidden" name="relocate" value="__relocate_url__" />
				<div class="login_form_cont">
					<img src="__images__close.gif" class="login_ajx_close" onclick="$('#login_div').hide();return false;" />
					<div class="login_form_warning">__warning_text__</div>
					<div class="login_form_row">
						<div class="clear_both"></div>
						<div class="login_form_label">__name_label__:</div>
						<div class="login_form_val">
							<input type="text" id="ID" name="ID" class="login_form_input" />
						</div>
						<div class="clear_both"></div>
					</div>
					<div class="login_form_row">
						<div class="clear_both"></div>
						<div class="login_form_label">__password_label__:</div>
						<div class="login_form_val">
							<input type="password" id="Password" name="Password" class="login_form_input" />
						</div>
						<div class="clear_both"></div>
					</div>
					<div class="login_form_row_forgot">
						<a href="__forgot_page_url__">__forgot_label__</a>
					</div>
					<div class="login_form_row">
						<div class="clear_both"></div>
						<div class="login_form_label"><input type="checkbox" name="rememberMe" /></div>
						<div class="login_form_val">
							__remeber_label__
						</div>
						<div class="clear_both"></div>
					</div>
					<div class="login_form_row">
						<div class="clear_both"></div>
						<div class="login_form_label"></div>
						<div class="login_form_val">
							<input type="submit" class="login_form_submit" value="__submit_label__"/>
						</div>
						<div class="clear_both"></div>
					</div>
					<div class="login_form_join">
						__or__ <a href="__join_page_url__">__join_label__</a>
					</div>
				</div>
			</td>
			<td class="side"><img src="__images__spacer.gif" alt="" /></td>
		</tr>
		<tr>
			<td class="corner"><img src="__images__op_cor_bl.png" /></td>
			<td class="side_ver"><img src="__images__spacer.gif" alt="" /></td>
			<td class="corner"><img src="__images__op_cor_br.png" onload="if( navigator.appName == 'Microsoft Internet Explorer' && version >= 5.5 && version < 7 ) png_fix();" /></td>
		</tr>
	</table>
</form>