<items><item key="user_height"><![CDATA[605]]></item><item key="updateInterval"><![CDATA[20]]></item><item key="urlDesktop"><![CDATA[]]></item><item key="imModule"><![CDATA[#imModule#]]></item><item key="scriptComposePage"><![CDATA[compose.php]]></item><item key="isMailbox"><![CDATA[true]]></item><item key="isFriends"><![CDATA[true]]></item><item key="isIm"><![CDATA[true]]></item></items>