<items><item type="string" key="SiteName" default="" range="30"><caption><![CDATA[Your site name]]></caption><comment><![CDATA[Site name to display in widgets]]></comment></item><item type="boolean" key="useRMS" default="false" range=""><caption><![CDATA[Use RMS]]></caption><comment><![CDATA[Use Ray MultiMedia Server or not]]></comment></item><item type="string" key="RMSIP" default="rms.boonex.com" range="15"><caption><![CDATA[RMS Address]]></caption><comment><![CDATA[Ray MultiMedia Server IP address or Domain name]]></comment></item><item type="number" key="RMSPort" default="10000" range="1:65535"><caption><![CDATA[RMS Port]]></caption><comment><![CDATA[Ray MultiMedia Server port]]></comment></item><item type="number" key="RMSHttpPort" default="10080" range="1:65535"><caption><![CDATA[RMS HTTP Port]]></caption><comment><![CDATA[Ray MultiMedia Server HTTP port]]></comment></item></items>