	.blog_wrapper
	{
		margin:0px 12px 15px;
	}

	.blog_subject
	{
		font-size:16px;
		font-weight:bold;
		padding-left:25px;
		padding-bottom:5px;
		background-repeat:no-repeat;
		background-position:left top;
		background-image:url(../images/icons/artic_papr.gif);
	}

	.blog_author
	{
		font-size:11px;
		color:#666666;
		padding-top:2px;
		padding-bottom:2px;
	}

	.blogs_pages
	{
		margin:4px;
		text-align:center;
		font-weight:bold;
		font-size:12px;
	}

	/**************************************************************/
	.cls_result_row
	{
		position:relative;
		border:0px solid #EEA;
		/*padding:14px;*/
		margin-bottom:10px;
	}

	.cls_res_info_p
	{
		margin-left: 10px;
	}
	.clr3
	{
		color:#000000;
		display:inline;
	}
	.cls_info_left
	{
		position:relative;
		float:left;
		width:640px;
		overflow:hidden;
	}
	.cls_info
	{
		position:relative;
		float:right;
		width:290px;
		overflow:hidden;
		/*padding-right:4px;*/
	}
	.actions
	{
		font-weight:bold;
		font-size:16px;
	}
	.fr
	{
		position:relative;
		float:right;
		font-size:13px;
	}
	.fr_small
	{
		position:relative;
		float:right;
		font-size:11px;
	}

	div.pic_centered
	{
		vertical-align:middle;
	}

	img.marg
	{
		margin-right:10px;
		position:static;
	}
	img.marg_icon
	{
		margin-right:5px;
		position:static;
	}
	img.static_icon
	{
		position:static;
	}
	img.marg_icon_both
	{
		margin-right:5px;
		margin-bottom:5px;
		position:static;
	}
	.marg_both
	{
		margin-bottom:10px;
		margin-right:10px;
		position:relative;
	}

	div.marg_icon_both
	{
		margin-bottom:5px;
		margin-right:5px;
		position:relative;
	}


	.margined
	{
		margin-right:10px;
	}

	.margined_left
	{
		margin-right:30px;
		float:left;
		position:relative;
	}

	.cls_res_thumb
	{
		position:relative;
		float:left;
	}
	.comment_actions
	{
		margin-bottom:2px;
		padding:5px;
		text-align:left;
	}
	.comment_row
	{
		/*border-bottom:1px dotted #CCCCCC;*/
		/*margin-bottom:3px;*/
	}

	.comment_author
	{
		margin-top:10px;
		font-weight:bold;
	}

	.comment_text
	{
		border:1px solid #CECECE;
		background-color:#F3F5FF;
		padding:2px;
	}

	.comment_text_r
	{
		border:1px solid #CECECE;
		background-color:#F3F5FF;
		/*padding:2px;*/
		text-align:right;
	}


	div.padds
	{
		padding:8px;
	}
	div.margin_bottom_10
	{
		margin-bottom:10px;
	}
	div.edit_error
	{
		background-color:#FFFFFF;
		border:1px solid red;
		margin:2px;
		padding:3px;
		width:300px;
	}
	/**************************************************************/
	.block_cont
	{
		background-image:url(../images/sp_op.png);
		border:1px solid #CCCCCC;
		padding:10px;
		position:relative;
		width:938px;
	}

	.boxContent .votes_small {
		width:140px;
		margin-bottom:10px;
	}

	/**************************************************************/
	.cls_categ_name {
		float:left;
		position:relative;
		width:190px;
	}
	.cls_categ_icon {
		width:25px;
		height:25px;
	}
	div.thumbnail_block img.cls_categ_icon {
		border:0px solid;
	}