<items><item  key="updateInterval"><![CDATA[5]]></item><item key="idleTime"><![CDATA[15]]></item><item key="deleteTime"><![CDATA[30]]></item><item key="maxRoomsNumber"><![CDATA[10]]></item><item key="isChatLeft"><![CDATA[true]]></item><item key="useMessagesTime"><![CDATA[true]]></item><item key="isMultipleActiveRooms"><![CDATA[true]]></item><item key="videoQuality"><![CDATA[75]]></item><item  key="useProfile"><![CDATA[true]]></item><item key="useIm"><![CDATA[true]]></item><item key="imModule"><![CDATA[#imModule#]]></item><item key="useUserTypes"><![CDATA[true]]></item><item key="defaultType"><![CDATA[full]]></item><item key="useSounds"><![CDATA[true]]></item><item key="soundsUrl"><![CDATA[#soundsUrl#]]></item><item key="smilesetsUrl"><![CDATA[#smilesetsUrl#]]></item><item key="useServer"><![CDATA[#useServer#]]></item><item key="serverUrl"><![CDATA[#serverUrl#]]></item><item key="useWatching"><![CDATA[true]]></item></items>